html {
    background-color: rgb(0,0,0);
  }

  body {
    font-size: 8px;
    width: 90%;
    heigth: auto;
    margin: 0 auto;
    background-color: rgb(1,1,1);
    padding: 0 10px 10px 10px;
    border: 1px solid black;
  }

h1 {
    font-size: 22px;
    text-align: left;
    margin: 0;
    padding: 10px 0;    
    color: rgb(200, 200, 200);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
} 


.tile_div a {
    display: block;
    float: left;
    height: 50px;
    width: 150px;
    margin-right: 5px;
    background-color: rgb(30, 30, 80);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}


p, a { /* paragraph, list item and header 1 have this style*/
  color:  rgb(216, 221, 209);
  width: 860px;
  border: 0px solid black;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight:bold;
    text-decoration:none;
    border-bottom:1px solid #ccc;
}

a:active {
    text-decoration: none;
}

li {
    color:  rgb(216, 221, 209); 
    font-size: 22px;    
    line-height: 2;
    letter-spacing: 1px;
}

/* separar imagens com efeitos diferentes ustilizando uma class (= block, e figura) */
.figura img {
  display: block;
  margin: 10px;
  width: 90%;
  height: 0 auto;
}

.figura img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);    
}

/* comento este efeito que funciona mas queria diferenciar e ver os outros tb */
/* 
img:hover {

/* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*/


.block {
    display: block;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.block img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
.block .block-caption {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    color: #fff;
    display: table;
    left: 0;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    width: 640px;
}
.block:hover .block-caption {
    opacity: 1;
}
.block:hover img {
    transform: scale(1.5) rotateZ(-5deg);
    -moz-transform: scale(1.5) rotateZ(-5deg);
    -webkit-transform: scale(1.5) rotateZ(-5deg);
    -o-transform: scale(1.5) rotateZ(-5deg);
}
