html {
    background-color: rgb(0,0,0);
  }

  body {
    font-size: 8px;
    width: 90%;
    heigth: auto;
    margin: 0 auto;
    background-color: rgb(1,1,1);
    padding: 0 10px 10px 10px;
    border: 1px solid black;
  }

h1 {
    font-size: 22px;
    text-align: left;
    margin: 0;
    padding: 10px 0;    
    color: rgb(200, 200, 200);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
} 


.tile_div a {
    display: block;
    float: left;
    height: 50px;
    width: 150px;
    margin-right: 5px;
    background-color: rgb(30, 30, 80);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}


p, a { /* paragraph, list item and header 1 have this style*/
  color:  rgb(216, 221, 209);
  width: 860px;
  border: 0px solid black;
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight:bold;
    text-decoration:none;
    border-bottom:1px solid #ccc;
}

a:active {
    text-decoration: none;
}

li {
    color:  rgb(216, 221, 209); 
    font-size: 22px;    
    line-height: 2;
    letter-spacing: 1px;
}

img {
  display: block;
  margin: 90%;
  width: 0 auto;
  height: auto;
}

img:hover {
  webkit-transform: scaleX(-1);
  transform: scaleX(-1);    
}

img:hover {

/* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
